@use "./variables" as *;

@mixin flexDisplay($flex-direction: row, $gap: 1) {
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap + rem;
}

@mixin navLink($opacity:40%) {
  button {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: $nav-link-color;
    cursor: pointer;
  }
  cursor: pointer;
  opacity: $opacity;
}
