// header footer bg color
$bg-color: hsl(218, 23%, 21%);

// font-family
$nunito-sans: "Nunito Sans", sans-serif;

// nav
$nav-bg-color: #28373e;
$logo-color: #2acdcc;
$nav-link-color: white;

// banner
$banner-bg-color: #8198a0;


// submenu
$text-color:#1ed6ca
